<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <label >年
        <input type="text"  v-model="year" >
    </label>
    <label >月
        <input type="text" v-model="month" >
    </label>
    <label >日
        <input type="text" v-model="day">
    </label>

    <div >
        已出生：{{days}}
    </div>

</div>
</body>


<script src="days.js"></script>

<script src="index.js"></script>
</html>
